body
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF9020;
}
h1
{
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-family: 'Press Start 2P', cursive;
}
span::before
{
    content: '';
    animation: word-swith 3s infinite;
}

@keyframes word-swith 
{
    15%   {content: '💻'}

    50%   {content: '🍟'}

    100%  {content: '🎬'}
}